#sidebar.right
  %ul#menu
    %li
      %a.ico_building{ :href=>"/admin" }
        Dashboard

    %li
      %a.ico_posts{ :href => "#" }
        Sites
      %ul
        %li
          %a{ :href => "/admin/sites" }
            List sites
        %li
          %a{ :href => "/admin/site/new" }
            Add site
        %li
          %a{ :href => "#" }
            Manage posts
      %a.ico_page{ :href => "#" }
        Pages
      %ul
        %li
          %a{ :href => "/admin/pages" }
            List pages
        %li
          %a{ :href => "#" }
            Add page

      %a.ico_page{ :href => "#" }
        Snippets
      %ul
        %li
          %a{ :href => "/admin/snippets" }
            List snippets
        %li
          %a{ :href => "#" }
            Add snippet

      %a.ico_user{ :href => "#" }
        Resources
      %ul
        %li
          %a{ :href => "#" }
            List resources
        %li
          %a{ :href => "#" }
            Add resource

      %a.ico_user{ :href => "#" }
        Users
      %ul
        %li
          %a{ :href => "#" }
            List users
        %li
          %a{ :href => "#" }
            Add user

      %a.ico_settings{ :href => "#" }
        Settings
      %ul
        %li
          %a{ :href => "#" }
            Database
        %li
          %a{ :href => "#" }
            Themes
        %li
          %a{ :href => "#" }
            Options
      
/
  end #sidebar
