#sidebar.right
  %ul#menu
    %li
      %a.ico_building{ :href=>"/admin" }
        Dashboard

    %li
      %a.ico_posts{ :href => "#" }
        Sites
      %ul
        %li
          %a{ :href => "/admin/sites" }
            List sites
        %li
          %a{ :href => "/admin/site/new" }
            Add site
        %li
          %a{ :href => "#" }
            Manage posts
      %a.ico_page{ :href => "#" }
        Pages
      %ul
        %li
          %a{ :href => "#" }
            Edit pages
        %li
          %a{ :href => "#" }
            Add page
        %li
          %a{ :href => "#" }
            Manage pages
      %a.ico_user{ :href => "#" }
        Users
      %ul
        %li
          %a{ :href => "#" }
            Edit users
        %li
          %a{ :href => "#" }
            Add user
        %li
          %a{ :href => "#" }
            Manage users
      %a.ico_settings{ :href => "#" }
        Settings
      %ul
        %li
          %a{ :href => "#" }
            Database
        %li
          %a{ :href => "#" }
            Themes
        %li
          %a{ :href => "#" }
            Options
      %a.ico_settings{ :href => "#" }
        Settings
      %ul
        %li
          %a{ :href => "#" }
            Database
        %li
          %a{ :href => "#" }
            Themes
        %li
          %a{ :href => "#" }
            Options
/
  end #sidebar
