%form{:method=>"post",:action=>"/login"}
  %ul
    %li
      %label{:for=>"email"}
        email:
      %input{:type=>"text",:name=>"email"}
    %li
      %label{:for=>"pass"}
        password:
      %input{:type=>"password",:name=>"pass"}
    %li
      %input{:type=>"submit",:value=>"login"}
